{{ $image := .Page.Resources.GetMatch .Destination }}
{{ $cdnPrefix := .Page.Site.Params.cdnPrefix | safeURL }}
{{ $title := .Text | default "UNNAMED" }}

<!-- IF - $image -->
{{ if $image }}
    {{ $rawImage := $image }}
    <!-- WITH - $rawImage -->
    {{ with $rawImage.Exif }}
        <!-- IF - .Exif -->
        {{ if eq .Tags.Orientation 1 }} 
        {{ $image := $image.Resize (print $image.Width "x" $image.Height " webp q50 ") }}
        {{ else if eq .Tags.Orientation 3 }}
        {{ $image := $image.Resize (print $image.Width "x" $image.Height " webp q50 r180 ") }}
        {{ else if eq .Tags.Orientation 6 }}
        {{ $image := $image.Resize (print $image.Height "x" $image.Width " webp q50 r270 ") }}
        {{ else if eq .Tags.Orientation 8 }}
        {{ $image := $image.Resize (print $image.Height "x" $image.Width " webp q50 r90 ") }}

            <!-- IF - CDN Prefix: true -> CDN Url -->
            {{ if $cdnPrefix }} 
            <!-- rawImg CDN Url -->
            {{ $cdnPrefixRawUrl := (print $cdnPrefix $rawImage.RelPermalink) }} 
            <!-- fixImg(WEBP) CDN Url -->
            {{ $cdnPrefixUrl := (print $cdnPrefix $image.RelPermalink) }} 
            <a data-nanogallery2-lightbox href="{{ $cdnPrefixRawUrl }}">
                <!-- <img loading="lazy" data-ngsrc="{{ $cdnPrefixRawUrl }}" data-ngThumb="{{ $cdnPrefixUrl }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} /> -->
                <picture>
                    <source type="image/webp" srcset="{{ $cdnPrefixUrl }}">
                    <img loading="lazy" data-ngsrc="{{ $cdnPrefixRawUrl }}" data-ngThumb="{{ $cdnPrefixUrl }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} />
                </picture>
            </a>
            <!-- IF ELSE - CDN Prefix: flase -> RAW Url -->
            {{ else }}  
            <a data-nanogallery2-lightbox href="{{ $rawImage.RelPermalink }}">
                <!-- <img loading="lazy" data-ngsrc="{{ $rawImage.RelPermalink }}" data-ngThumb="{{ $image.RelPermalink }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} /> -->
                <picture>
                    <source type="image/webp" srcset="{{ $image.RelPermalink }}">
                    <img loading="lazy" data-ngsrc="{{ $rawImage.RelPermalink }}" data-ngThumb="{{ $image.RelPermalink }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} />
                </picture>
            </a>
            {{ end }}
            <!-- IF END - CDN Prefix -->
        <!-- IF ELSE - .Exif -->
        {{ else }} 
            {{ $image := $image.Resize (print $image.Width "x" $image.Height " webp") }}

            <!-- IF - CDN Prefix: true -> CDN Url -->
            {{ if $cdnPrefix }} 
            <!-- rawImg CDN Url -->
            {{ $cdnPrefixRawUrl := (print $cdnPrefix $rawImage.RelPermalink) }} 
            <!-- fixImg(WEBP) CDN Url -->
            {{ $cdnPrefixUrl := (print $cdnPrefix $image.RelPermalink) }} 
            <a data-nanogallery2-lightbox href="{{ $cdnPrefixRawUrl }}">
                <!-- <img loading="lazy" data-ngsrc="{{ $cdnPrefixRawUrl }}" data-ngThumb="{{ $cdnPrefixUrl }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} /> -->
                <picture>
                    <source type="image/webp" srcset="{{ $cdnPrefixUrl }}">
                    <img loading="lazy" data-ngsrc="{{ $cdnPrefixRawUrl }}" data-ngThumb="{{ $cdnPrefixUrl }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} />
                </picture>
            </a>
            <!-- IF ELSE - CDN Prefix: flase -> RAW Url -->
            {{ else }}  
            <a data-nanogallery2-lightbox href="{{ $rawImage.RelPermalink }}">
                <!-- <img loading="lazy" data-ngsrc="{{ $rawImage.RelPermalink }}" data-ngThumb="{{ $image.RelPermalink }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} /> -->
                <picture>
                    <source type="image/webp" srcset="{{ $image.RelPermalink }}">
                    <img loading="lazy" data-ngsrc="{{ $rawImage.RelPermalink }}" data-ngThumb="{{ $image.RelPermalink }}" {{- with $title }}data-ngdesc="{{ $title }}"{{ end -}} />
                </picture>
            </a>
            {{ end }}
            <!-- IF END - CDN Prefix -->
            {{ end }}
            <!-- IF END - .Exif -->
        {{ else }}
        <!-- WITH ELSE - $rawImage -->
        <a data-nanogallery2-lightbox href="{{ .Destination | safeURL }}">
            <img loading="lazy" srcset="{{ .Destination | safeURL }}" {{- with .Text }}title="{{ .Text }}"{{ end -}} />
        </a>
    {{ end }}
    <!-- WITH END - $rawImage -->
{{ end }}
<!-- IF END - $image -->