{{- define "main" }}

<header class="page-header">
  <h1>
    {{ .Title }}
    {{- if (.Param "ShowRssButtonInSectionTermList") }}
    {{- $rss := (.OutputFormats.Get "rss") }}
    {{- if (eq .Kind `page`) }}
      {{- $rss = (.Parent.OutputFormats.Get "rss") }}
    {{- end }}
    {{- with $rss }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<div class="gallerys">
  <div class="gallery">
    {{ range (sort (.Resources.ByType "image") "Name" "desc") }}
    {{ $name := path.Base .Name  }}
    {{ with .Resize (print .Width "x" .Height " webp q25 " ) }}
    {{ $cdnPrefix := $.Site.Params.cdnPrefix | safeURL }}
    {{ $cdnPrefixUrl := (print $cdnPrefix .RelPermalink) }}
    {{ if $cdnPrefix }}
    <picture>
      <source type="image/webp" srcset="{{ $cdnPrefixUrl }}">
      <img loading='lazy' decoding="async" src="{{ $cdnPrefixUrl }}" />
    </picture>
    {{ else }}
    <picture>
      <source type="image/webp" srcset="{{ .RelPermalink }}">
      <img loading='lazy' decoding="async" src="{{ .RelPermalink }}" />
    </picture>
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</div>

<style>
  .gallerys {width:100%;}
  .gallery {
    columns: 3;
    column-gap: 10px;
    @media (max-width: 1280px) {columns: 2;}
    @media (max-width: 860px) {columns: 1;}
    & picture {display: block;margin-bottom: 10px;}
  }
</style>
{{- end }}{{/* end main */}}