<div data-nanogallery2='{
    "thumbnailWidth": "300",
    "thumbnailHeight": "auto",
    "thumbnailAlignment": "center",
    "thumbnailOpenImage": true,
    "thumbnailAlignment": "fillWidth",

    "thumbnailDisplayTransition": "slideDown",
    "thumbnailDisplayTransitionDuration": 500,
    "thumbnailDisplayInterval": 30,

    "thumbnailHoverEffect2": "image_scale_1.00_1.10",
    "touchAnimation": true,
    "touchAutoOpenDelay": 800,
    
    "galleryDisplayMode": "pagination",
    "gallerySorting": "random"
}'>
   {{ .Inner }}
</div>